@model TrashBin.Mvc.Models.ProjectListViewModel

@{
    ViewBag.Title = "Projects";
}

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>
    @foreach (var project in Model.Projects)
    {
        <tr>
            <td>@project.Name</td>
            <td>@project.Description</td>
            <td>@Html.ActionLink("Delete", "Delete", new{ id = @project.Id })</td>
        </tr>
    }
</table>

@Html.ActionLink("Add Project", "Create", null, new { @class = "ui-button"})
