<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Trashbin</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
        </header>
        <div id="body" class="container-fluid">
            <div class="row">
                <div class="span8 offset4"><h1>@ViewBag.Title</h1></div>
            </div>
            <div class="row">
                <div class="span4" id="menu">
                    @RenderSection("menu", false)
                </div>               
                <div class="span8" id="content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer>
            <div class=" span12 muted text-center">&copy; @DateTime.Now.Year - Trashbin Application</div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
